a: { /* селектор ссылки */ 
  color: gray;
}

/* псевдоклассы, которые применимы только для ссылок */ 
a:link { /* не посещённые ссылки */ 
  color: green;
}
a:visited { /* посещённые ссылки */ 
  color: blue;
}

/* псевдоклассы, которые применимы для любых элементов */ 
a:hover { /* при наведении */ 
  color: orange;
}
a:focus { /* при фокусе, для его работы в некоторых браузерах нужно указать атрибут tabindex */ 
  color: red;
}
a:focus:hover { /* при наведении, когда ссылка в фокусе */ 
  color: purple;
}
a:active { /* при нажатии */ 
  color: yellow;
}

